# Duolingo API JWT Token
# Get your JWT token from the Duolingo API and paste it here
JWT=eyJhxxxxeyjQ

# AirLearn API JWT Token
# Get your JWT token from the AirLearn API and paste it here
AIRLEARN_JWT=eyJhxxxxVFo8
